<div class="m-3">
    <form class="row g-3">
        <div class="col-4">
            <select class="form-select form-select-sm" aria-label="Small select example">
                <option selected>Ref crédit</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-4">
            <select class="form-select form-select-sm" aria-label="Small select example">
                <option selected>Ref client</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-4">
            <input type="text" class="form-control" id="autre-critere" placeholder="Recherche avec un autre attribut">
        </div>
    </form>
</div>
<div class="card bg-white m-3">
    <h3>Data Tables</h3>
    <span>Ici vous verrez tous les clients a gérer a part. Cliquer pour voir plus en détaiks et modifier</span>

</div>