<div class="card">
    <div class="card-header bs-primary-bg-subtle text-center">Cefor - GAP</div>
    <div class="card-body">
        <span>NAVIGATION</span>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let sousMenu of menuProperties" 
              [ngClass]="{'text-danger bg-primary color-white' : sousMenu.active, '': !sousMenu.active}">
                <a href="javascript:void(0)" (click)="navigate(sousMenu)" [ngClass]="{'text-white' : sousMenu.active, '': !sousMenu.active}">
                    <i class="{{sousMenu.icon}}"></i>&nbsp;{{sousMenu.titre}}
                </a>
            </li>
        </ul>
    </div>
</div>